<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Details Page</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<style>
    body {
      background-image: url("{% static 'bg.png' %}");
      background-size: cover;
    }
    </style>
<body>
    <header>
        <div class="hg1">
        <img src="{% static 'logoo.png' %}" height="200px" width="250px" alt="Zenith:To imagine and fulfil anything"/>
        <div>
        <!--h2>Zenith:To imagine and fulfil anything</h2-->
        </div>
        </div>
        <h2>Zenith : To dream big</h2>
        <div>
            <nav>
            <a class="nav-link" href="">Home</a>
            <a class="nav-link" href="">Login</a>
            <a class="nav-link" href="">Registeration</a>
        </nav>
        </div>
    </header>
    <!--section class="events">
    <div class="events_card">
        <h2>Event Name</h2>
        <p>Event Location</p>
        <p>Event Date</p>
        <a href="./event.html" class="events-btn">Event Details</a>
    </div>
    <div class="events_card">
        <h2>Event Name</h2>
        <p>Event Location</p>
        <p>Event Date</p>
        <a href="./event.html" class="events-btn">Event Details</a>
    </div>
    <div class="events_card">
        <h2>Event Name</h2>
        <p>Event Location</p>
        <p>Event Date</p>
        <a href="./event.html" class="events-btn">Event Details</a>
    </div>
    </section-->
     <section id="event-details">
        <div class="event">
        <h2 class="event-title">{{events.event_title}}</h2><br>
        <p class="event-date">Date : <b>{{events.date}}</b></p>
        <p class="event-loc">Location : <b>{{events.location}}</b></p>
        <p class="event-desc">Description : <b>{{events.description}}</b> </p>
        <form action="{% url 'eventdetail' events.pk %}" method="POST" class="apply-form">
             <h3>Apply for this event</h3>
             {% csrf_token %}
             {{form.as_p}}
            <!--label for="fullname">Full Name :</label>
            <input type="text" name="fullname"><br><br>
            <label for="email">E-mail :</label>
            <input type="email" name="email"><br><br>
            <label for="phone">Phone :</label>
            <input type="number" name="phone"><br><br-->
            <input type="submit" value = "Apply">
        </form>
        </div>
     </section>
    <footer>Online Registeration System @ 2023</footer>
</body>
</html>